* {
    /* border: solid red; */
}
body {
    height: 100vh;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto", "sans-serif", "Times New Roman";
}
.grid-container {
    display: flex;
    flex: 1;
    width: 120vh;
    border: solid #f4d47c;
    border-radius: 10px;
    background-color: #E0FFFF;
    border-width: thick;
}
.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    
}
.header {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.row {
    flex: 1; 
    width: 100vh; 
    display: flex;
}
.main-section {
    display: flex;
    flex: 1;
    gap: 20px;
}
.sidebar-container {
    display: flex;
    flex: 1;
    width: 20vh;
    border: solid #f4d47c;
    border-radius: 10px;
    background-color: white;
    border-width: thick;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.colors-container {
    display: flex;
}
.gridBox {
    flex: 1; 
    border: solid #808080; 
    border-width: 0px;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
}

.gridBox:hover {
    background-color: lightskyblue;
}

.gridBox.clicked {
    background-color: blue;
}

.reset {
    width: 200px;
    height: 50px;
    font-size: large;
    border-radius: 20px;
    border-width: 5px;
    border-color: lightblue;
    font-weight: bold;
    background-color: #E0FFFF;
}