body {
    height: 100vh;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto", "sans-serif", "Times New Roman";
}

.grid-container {
    display: flex;
    flex: 1;
    width: 120vh;
    border: solid #f4d47c;
    border-radius: 10px;
    background-color: #E0FFFF;
    border-width: thick;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    
}

.header {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.row {
    flex: 1; 
    width: 100vh; 
    display: flex;
}

.main-section {
    display: flex;
    flex: 1;
    gap: 20px;
}

.choose-color-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-container {
    display: flex;
    flex: 1;
    width: 20vh;
    border: solid #f4d47c;
    border-radius: 10px;
    background-color: white;
    border-width: thick;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.choose-color {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.colors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-selector {
    width: 100px;
    height: 100px;
    border-width: 1px;
    border: solid #201f1f;
    transition: 0.1s ease;
}
#eraser.color-selector {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: flex-end;
    border-width: 0px;
}
#blue.color-selector {
    background-color: blue;
}

#red.color-selector {
    background-color: red;
}

#yellow.color-selector {
    background-color: yellow;
}

#green.color-selector {
    background-color: green;
}

#black.color-selector {
    background-color: black;
}

#magenta.color-selector {
    background-color: magenta;
}

#orange.color-selector {
    background-color: orange;
}

#lime.color-selector {
    background-color: lime;
}

#purple.color-selector {
    background-color: purple;
}
#white.color-selector {
    background-color: white;
}

.gridBox {
    flex: 1; 
    border: solid #808080; 
    border-width: 0px;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
}

.gridBox:hover {
    background-color: lightskyblue;
}

.gridBox.clicked-blue {
    background-color: blue;
}

.gridBox.clicked-red {
    background-color: red;
}

.gridBox.clicked-yellow {
    background-color: yellow;
}

.gridBox.clicked-green {
    background-color: green;
}

.gridBox.clicked-black {
    background-color: black;
}

.gridBox.clicked-magenta {
    background-color: magenta;
}

.gridBox.clicked-orange {
    background-color: orange;
}

.gridBox.clicked-lime {
    background-color: lime;
}

.gridBox.clicked-purple {
    background-color: purple;
}
.gridBox.clicked-white {
    background-color: white;
}
.gridBox.clicked-eraser {
    background-color: #E0FFFF;
}

.reset {
    width: 200px;
    height: 50px;
    font-size: large;
    border-radius: 20px;
    border-width: 5px;
    border-color: lightblue;
    font-weight: bold;
    background-color: #E0FFFF;
}

.selected {
    transform: scale(1.1);
}
.eraser {
    width: 100px;
    height: 100px;
    padding-left: 20px;
}